
# This is a special configuration file to run tests on Travis-CI via
# GitHub notifications when changes are committed.
#
# See http://travis-ci.org/ for details
language: python

before_install:
 - sudo apt-get install -y python-virtualenv
 - virtualenv planemo-venv
 - . planemo-venv/bin/activate
 - pip install planemo==0.47.0
 #- planemo conda_init

#install:
 #- planemo conda_install ${TRAVIS_BUILD_DIR}/galaxy/xcms_suite

script:
 - planemo lint ${TRAVIS_BUILD_DIR}/mixmodel4repeated_measures/
 - planemo test --conda_auto_init --conda_auto_install --conda_dependency_resolution --galaxy_branch release_17.05 --no_cache_galaxy ${TRAVIS_BUILD_DIR}/mixmodel4repeated_measures/
